<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tekserve_Teksearch>
            <version>0.0.1</version>
        </Tekserve_Teksearch>
    </modules>
    <global>
    	<models>
			<teksearch>
				<class>Tekserve_Teksearch_Model</class>
				<resourceModel>teksearch_mysql4</resourceModel>
			</teksearch>
			<teksearch_mysql4>
				<class>Tekserve_Teksearch_Model_Mysql4</class>
				<entities>
					<resultlist>
						<table>teksearch_results</table>
					</resultlist>
					<contentresult>
						<table>teksearch_content</table>
					</contentresult>
				</entities>
			</teksearch_mysql4>
		</models>
		<blocks>
			<teksearch>
				<class>Tekserve_Teksearch_Block</class>
			</teksearch>
			<catalogsearch>
				<rewrite>
					<result>Tekserve_Teksearch_Block_CatalogSearch_Result</result>
				</rewrite>
			</catalogsearch>
		</blocks>
		<helpers>
		   <teksearch>
				  <class>Tekserve_Teksearch_Helper</class>
			</teksearch>
		</helpers>
		<resources>
			<teksearch_write>
				<connection>
					<use>core_write</use>
				</connection>
			</teksearch_write>
			<teksearch_read>
				<connection>
					<use>core_read</use>
				</connection>
			</teksearch_read>
			<teksearch_setup>
				<setup>
					<module>Tekserve_Teksearch</module>
					<class>Tekserve_Teksearch_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
    		</teksearch_setup>    
		</resources>    
    </global>
	<frontend>
		<routers>
			<teksearch>
				<use>standard</use>
				<args>
					<module>Tekserve_Teksearch</module>
					<frontName>teksearch</frontName>
				</args>
			</teksearch>
		</routers>
	</frontend>
</config>